.dashboard-container{
  display: flex;
    background: linear-gradient(190deg, rgb(139, 163, 255) 19.5%, rgb(168, 186, 255) 72.7%);
    min-height: 500px;
    flex-direction: column;

    form {
      margin: 0px 40px;
    }

  h1 {
    width: 100%;
  }
}